
<nav class="navbar navbar-expand-lg bg-body-tertiary py-4 fixed-top bg-darkk z-1 " >
  <div class="container">
    <a class="navbar-brand fs-2 text-white text-uppercase fw-bolder " routerLink="">Start Framework</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-white fw-bolder text-uppercase px-3" aria-current="page" routerLink="About" routerLinkActive="Active">about</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white fw-bolder text-uppercase px-3 " routerLink="portfolio" routerLinkActive="Active">portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white fw-bolder text-uppercase px-3" routerLink="contact" routerLinkActive="Active">contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
