

<section class="bg-white ">
  <div class=" container ">
    <div class="py106">

      <div class="row py-5">
        <div class="offset-lg-3 col-lg-6 text-center ">

          <h1 class="fw-bold">conatct section</h1>
          <app-star [style]="'dark'"></app-star>

        </div>
      </div>


      <form >
        <div class="row">
          <div class="col-md-12 mb-5">
            <input type="text" class="form-control" placeholder="UserName" aria-label="First name">
          </div>
          <div class="col-md-12 mb-5">
            <input type="number" class="form-control" placeholder="UserAge" aria-label="First name">
          </div>
          <div class="col-md-12 mb-5">
            <input type="email" class="form-control" placeholder="UserEmail" aria-label="First name">
          </div>
          <div class="col-md-12 mb-5">
            <input type="password" class="form-control" placeholder="UserPassword" aria-label="First name">
          </div>


        </div>
        <button type="submit" class="btn btn-primary px-3">Send Massage</button>


      </form>



    </div>

  </div>


</section>

