/* You can add global styles to this file, and also import other style files */

:root {
  --main-color: #1abc9c;
  --secondery-color: #2c3e50;
}

.bg{
  background-color: var(--main-color);
}

.bg{
  background-color: var(--main-color);
}


.py106{
  margin-top: 80px;
  min-height: calc(100vh - 106px);
}
